<?xml version="1.0"?>

<model>
  <name>bucket_stand_3</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>

  <author>
    <name>Marcelo Jordao</name>
    <email>marcelo.jordao@discente.ufg.com</email>
  </author>

  <description>
    SDF model representing the omni-directional bucket stand 3, designed for flight simulations. Designed for the RoboCup 2025 competition.
  </description>

</model>
