<?xml version="1.0" ?>
<model>
<name>silver</name>
<version>1.0</version>
<sdf version="1.10">model.sdf</sdf>
<author>
<name>Marcelo Ramos Jordao</name>
<email>marcelo.jordao@discente.ufg.br</email>
</author>
<description>Silver robot model</description>
<changes>exported from fusion 360</changes>
</model>
