<?xml version="1.0" ?>
<model>
<name>launch_land_platform</name>
<version>1.0</version>
<sdf version="1.6">model.sdf</sdf>
    <author>
    <name>Marcelo Jordao</name>
    <email>marcelo.jordao@discente.ufg.com</email>
  </author>

  <description>
    SDF model representing the launch and land platform. Designed for the RoboCup 2025 competition.
  </description>
</model>
